.card-wrapper {
    background-color: rgb(27, 0, 90);

    border-radius: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s;
    transform-style: preserve-3d;
    /* transform: rotateY(180deg); */
    
}

.card-wrapper-show {
    transform: rotateY(180deg);
}

.card-wrapper-finished {
    transform: rotateY(180deg);
    border: 5px rgb(0, 187, 56) solid;
}

.card-wrapper-finished::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    box-shadow: rgb(0, 187, 56) 0px 0px 15px 5px;
    border-radius: 15px;
}

.card-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 20px;
}

.card-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: rgb(27, 0, 90) solid 5px;
    color: #fff;
    backface-visibility: hidden;
}

.card-check {
    transform: rotateY(180deg);
}

/* .card-show {
    transform: rotateY(180deg);
}

.card-finished {
    transform: rotateY(180deg);
    cursor: default;
} */

/* .card::before {
    content: "ОК";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bd5e;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 100;
} */