.header {
  text-align: center;
  background-color: rgb(27, 0, 90);
  color: #fff;
  padding: 15px 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.main-nav li > a{
  color: #fff;
  text-decoration: none;
}

.main-nav li > a:hover{
  color: rgb(0, 255, 234);
  text-decoration: none;
  font-weight: 500;
}

.main-nav li {
  padding: 5px 10px;
}